<html>
<head>
	<title>Twitter friends (arbor.js + Ruby)</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/js/arbor.js"></script>
	<script src="/js/application.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/application.css">
</head>
<body>
	<%= yield %>
</body>
</html>